/*
 * Copyright (c) 2025 LTH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <lth/l31core.dtsi>
#include <lth/lth_platform.dtsi>

/ {
    compatible = "codasip,lth_platform-codasip_l31";

    // Needed?
    chosen {
        zephyr,sram = &sram0;
    };
};