# Copyright (c) 2026 Georgij Michaliutin
# SPDX-License-Identifier: Apache-2.0

if SOC_L31A

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 25000000

config NUM_IRQS
	default 32

config RISCV_MACHINE_TIMER
	default y

config RISCV_HAS_PLIC
	default n

config XIP
	default n

config USERSPACE
	default n

config SMP
	default n

config FPU
	default n

endif # SOC_L31A