# Copyright (c) 2026 Georgij Michaliutin
# SPDX-License-Identifier: Apache-2.0

config SOC_L31A
	bool "LTH L31A SoC"
	select RISCV
	select RISCV_PRIVILEGED
	select INCLUDE_RESET_VECTOR

	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_C
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI

	select ATOMIC_OPERATIONS_C
	select RISCV_MACHINE_TIMER


	help
	  LTH Codasip L31A: RV32IMC SoC on Nexys4 (Artix-7).
	  Peripherals: BRAM (64 KB), CLINT, GPIO (16-bit output).
	  No PLIC, no MMU, no FPU. Machine mode only.